{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    <h1>Projects</h1>

    {{ include('projects/_list.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{#    <link rel="stylesheet" href="{{ asset('css/projects.css') }}">#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    <script src="{{ asset('js/projects.js') }}"></script>#}
{% endblock %}
