{% extends 'base.html.twig' %}

{% block title %}Create Project{% endblock %}

{% block body %}
    <h1>Create New Project</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.categories) }}
    <button class="btn btn-primary">Save</button>
    {{ form_end(form) }}
{% endblock %}
